
.content-wrap {
  margin: 0 auto;
  padding: var(--content-padding);
}

.content-wrap-max {
  max-width: 1200px;
}

.content-wrap-medium {
  max-width: 900px;
}

.content-wrap-small {
  max-width: 600px;
}

.content-wrap + .content-wrap {
  margin-top: 100px;
}

@media(max-width: 820px) {
  .content-wrap + .content-wrap {
    margin-top: 80px;
  }
}

@media(max-width: 520px) {
  .content-wrap + .content-wrap {
    margin-top: 40px;
  }
}

