
.content-wrap {
  margin: 0 auto;
  padding: var(--content-padding);
}

.content-wrap-max {
  max-width: 1200px;
}

.content-wrap-medium {
  max-width: 900px;
}

.content-wrap-small {
  max-width: 600px;
}


