footer {
    background-color: var(--color-primary);
    padding: 1rem 0;
    margin-top: 0;
}

.footer-wrap {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}

footer ul:last-child {
    margin-right: 0;
}

footer li {
    color: var(--color-black);
    opacity: .7;
}

footer .Kundenkonto li:nth-child(n + 2)::before, 
footer .informationen li:nth-child(n + 2)::before {
    content: '- ';
}

/*inhalt (kein titel)*/
footer li:nth-child(n + 2) {
    font-size: .95rem;
    opacity: .6;
}

footer a {
    text-decoration: none;
    color: var(--color-black);
}

footer img {
    width: 15px;
    margin-right: 20px;
}

footer .kontakt li {
    display: flex;
    align-items: center;
}

footer li:first-child {
    border-bottom: .2rem solid var(--color-white);
    width: fit-content;
    padding-bottom: 3px;
}

footer li + li {
    margin-top: 10px;
}

footer .informationen {
    display: flex;
}

footer .payment {
    width: 100%;
    max-width: 20rem;
}

footer .payment img{
    width: 100%;
    max-width: 18rem;
}

@media(max-width: 650px) {
  .footer-wrap {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    }
}

@media(max-width: 410px) {
  .footer-wrap {
    grid-template-columns: 1fr;
    }
}