footer {
    background-color: var(--color-tertiary);
    padding: 10px 0;
}

.footer-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px;
}

footer ul:last-child {
    margin-right: 0;
}

footer li {
    color: var(--color-black);
    opacity: .7;
}

footer .Kundenkonto li:nth-child(n + 2)::before, 
footer .informationen li:nth-child(n + 2)::before {
    content: '- ';
}

/*inhalt (nicht titel)*/
footer li:nth-child(n + 2) {
    font-size: .95rem;
    opacity: .6;
}

footer a {
    text-decoration: none;
    color: var(--color-black);
}

footer img {
    width: 15px;
    margin-right: 20px;
}

footer .content-wrap {
    display: flex;
    justify-content: space-between;
}

footer .kontakt li {
    display: flex;
    align-items: center;
}

footer li:first-child {
    border-bottom: .2rem solid var(--color-white);
    width: fit-content;
    padding-bottom: 3px;
}

footer li + li {
    margin-top: 10px;
}

footer .informationen {
    display: flex;
}

footer .payment {
    width: 100%;
    max-width: 20rem;
}

footer .payment img{
    width: 100%;
    max-width: 18rem;
}

@media(max-width: 890px) {
    .footer-wrap {
        flex-wrap: wrap;
    }
}
