html, body {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

body {
  hyphens: auto;
}

main {
  max-width: var(--content-width-medium);
  margin: 0 auto;
  margin-top: 6rem;
  min-height: calc(100vh - 365px);
}

main > * + * {
  margin-top: 6rem;
}

.button {
  text-decoration: none;
  color: var(--color-white);
  padding: 1rem;
  background: var(--color-tertiary);
  display: block;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: .9rem;
  transition: background .2s, color .2s;
}

.button:hover {
  background:  var(--color-white);
  border: 3px solid var(--color-tertiary);
  color: var(--color-tertiary);
}

.link-to-page {
  text-decoration: none;
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
  padding-bottom: .1rem;
}

.link-to-page::before {
  content: '<';
  padding-right: .2rem;
}

.welcome-user {
  color: var(--color-white);
  opacity: .8;
  position: absolute;
  top: 110%;
  right: 3rem;
}

main.impressum  {
  margin: 9rem 0 3rem 0;
}

main.impressum + footer {
  margin-top: 3rem;
}

@media(max-width: 920px) {
  main {
    margin-top: 80px;
  }
}

