html, body {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

body {
  hyphens: auto;
}

main {
  max-width: var(--content-width-medium);
  margin: 0 auto;
  margin-top: 6rem;
}

main > * + * {
  margin-top: 6rem;
}

.button {
  text-decoration: none;
  color: var(--color-white);
  padding: 1rem;
  background-color: var(--color-primary);
  display: block;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.link-to-page {
  text-decoration: none;
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
  padding-bottom: .1rem
}

@media(max-width: 920px) {
  main {
    margin-top: 80px;
  }
}