@import "/variables.css";

nav {
  background: var(--color-primary);
  box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.21);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-index-nav);
}

nav > .content-wrap-max {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul {
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  list-style: none;
  font-weight: bold;
}

nav ul li {
  position: relative;
  border-bottom: 3px solid transparent;
  transition: border-bottom .2s ease-in;
  cursor: pointer;
}

nav ul li:hover {
  border-bottom: 3px solid var(--color-white);
}

nav ul li a {
  display: inline-block;
  color: var(--color-black);
  opacity: .7;
  text-decoration: none;
  padding: 10px 1.5rem 10px 0;
}

nav ul li img {
  position: absolute;
  right: 0;
}

nav ul li + li {
  margin-left: 100px;
}

.logo {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid var(--color-white);
}

.login-icon {
  width: 1.2rem;
  opacity: .6;
  margin-left: 5px;
}

.logout-icon {
  width: 1.2rem;
  opacity: .6;
  margin-left: 5px;
  filter: invert(27%) sepia(98%) saturate(2444%) hue-rotate(339deg) brightness(101%) contrast(98%);
}

.about-icon {
  width: 1.3rem;
  opacity: .8;
  margin-left: 8px;
}

.shopping-icon {
  width: 1.3rem;
  opacity: .8;
  margin-left: 5px;
}

@media(max-width: 900px) {
  .logo {
    width: 100px;
  }
  
  nav ul li + li {
    margin-left: 20px;
  }
}


@media(max-width: 480px) {
  .logo {
    width: 120px;
  }
  
  nav ul li a  {
    padding-top: 0;
  }
  nav ul li a span {
    display: none;
  }

  nav ul li {
    border-bottom: 0px;
  }

  nav ul li:hover {
    border-bottom: 0px;
  }

  nav ul li + li {
    margin-left: 20px;
  }

  nav ul li img {
    margin-left: 0;
  }

  .login-icon,
  .logout-icon  {
    width: 1.7rem;
  }

  .about-icon {
    width: 1.8rem;
  }

  .shopping-icon {
    width: 1.8rem;
  }
}
