
/*Desktop*/
.social-media-bar {
    position: absolute;
    top: calc(100vh + 150px);
    right: 10px;
    background: var(--color-tertiary);
    padding: .6rem;
    border-radius: 5px;
    width: 25px;
    z-index: 999;
}

.isFixed {
    position: fixed;
    top: 150px;
}

.social-media-bar a {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}

.social-media-bar a + a {
    margin-top: .8rem;
}

.social-media-bar img {
    opacity: .5;
    transition: transform .2s, color .2s;
    object-fit: cover;
}

.social-media-bar img:hover {
    transform: scale(1.15);
    opacity: .8;
}

/*Mobile*/
.social-media-bar-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media-bar-mobile img {
    opacity: .5;
    width: 50px;
    transition: opacity .2s;
}

.social-media-bar-mobile a + a {
    margin-left: 1rem;
}

.social-media-bar-mobile a:hover img {
    opacity: 1;
}

@media(max-width: 1024px) {
    .social-media-bar {
        display: none;
    }
    
    .social-media-bar-mobile {
        display: flex;
    }
}
