
.sponsor img {
    width: 5rem;
    filter: opacity(.5) saturate(30%);
}

.sponsor ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.sponsor h3 + * {
    margin-top: 3rem;
}

.sponsor .top li:nth-child(2) img {
    width: 3.5rem;
}

.sponsor .bottom li:first-child img,
.sponsor .bottom li:nth-child(5) img {
    width: 3.8rem;
}

@media (max-width: 450px) {
    .sponsor img {
        width: 3rem;
    }

    .sponsor .bottom li:first-child img,
    .sponsor .bottom li:nth-child(5) img {
        width: 2.5rem;
    }
}
