:root {
  /*Farben*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #A2D5AB;
  --color-secondary: #3e8576;
  --color-tertiary: #3c9d52;
  --color-gray: rgba(225, 225, 225, 0.4);

  /*content padding*/
  --content-padding: 0 100px;

  /*Z-indexes*/

  --z-index-nav: 999;
  --z-index-username: 99;
  --z-index-stage: 98;
  --z-index-1: 1;
}

@media(max-width: 1024px) {
  :root {
    --content-padding: 0 30px;
  }
}

