
:root {
/*Farben*/
  --color-primary: #3c9d52;
  --color-secondary: #3e8576;
  --color-tertiary: #A2D5AB;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-yellow: #e0bd7d;
  --color-gray: rgba(225, 225, 225, 0.4);

  
  /*content padding*/
  --content-padding: 0 100px;

  /*Z-indexes*/
  --z-index-stage: 99;
  --z-index-1: 1;
}

@media(max-width: 1024px) {
  :root {
    --content-padding: 0 30px;
  }
}

